@model IEnumerable<TheAdvertiser.Models.Advertisement>
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Advertisements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingOption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingOption)
            </td>
			<td>
				@{
					var user = await UserManager.GetUserAsync(User);
                   	if (user != null && await UserManager.IsInRoleAsync(user, "Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.UID">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.UID">Delete</a>
					}
				}
			</td>
        </tr>
}
    </tbody>
</table>
