@model IEnumerable<TheAdvertiser.Models.Advertisement>
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Advertisements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Photo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReceivingOption)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				<img src="@Url.Action("GetPhoto", "Home", new { uid = item.UID })"
					 width="128" />
			</td>
			<td class="content-center">
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td class="content-center">
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td class="content-center">
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td class="content-center">
				@Html.DisplayFor(modelItem => item.City)
			</td>
			<td class="content-center">
				@Html.DisplayFor(modelItem => item.ReceivingOption)
			</td>
			<td class="content-center">
				@{
					var user = await UserManager.GetUserAsync(User);
					if (user != null && await UserManager.IsInRoleAsync(user, "Admin"))
					{
						<a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-uid="@item.UID">Edit</a>
						<a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-uid="@item.UID">Delete</a>
					}
				}
			</td>
		</tr>
}
    </tbody>
</table>
